# Ignore all PyTorch checkpoint files
*.pt
*.pyc
*.pyo
*.pyd
*.npy
*.png
*.json
*.csv
*.svs
*.tif
*.tsv
*.pkl
*.gz
*.zip
HEST/
weights/
log_normalized_notebook/
demo_data/HEST/
demo_data/weights/
*__pycache__